In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('save.csv')

In [3]:
df.head()

         Date  Close/Last    Volume     Open       High        Low
0  08/06/2020      $17.26  10967270    $17.3   $17.6499   $16.8387
1  08/05/2020      $17.15  16143430   $16.95     $17.52      $16.4
2  08/04/2020       $16.5  15034920   $15.46     $16.94     $15.45
3  08/03/2020      $15.37  15842450   $15.74      $15.8     $14.65
4  07/31/2020      $15.81  11920470   $16.04    $16.265     $15.42

In [4]:
df.dtypes

Date           object
 Close/Last    object
 Volume         int64
 Open          object
 High          object
 Low           object
dtype: object

In [ ]:
df.to_csv('save1.csv', index=False)